blueprints/n8n_workflow.json
{
    "name": "Voice Reseller Orchestrator",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "voice-input",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "options": {}
            },
            "id": "openai-transcribe",
            "name": "Whisper (STT)",
            "type": "n8n-nodes-base.openai",
            "typeVersion": 1,
            "position": [
                680,
                300
            ],
            "credentials": {
                "openaiApi": {
                    "id": "YOUR_OPENAI_CREDENTIAL_ID",
                    "name": "OpenAI account"
                }
            },
            "operation": "audioTranscription"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "http://localhost:3000/api/v1/prediction/YOUR_FLOWISE_CHATFLOW_ID",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "question",
                            "value": "={{ $json.text }}"
                        }
                    ]
                },
                "options": {}
            },
            "id": "flowise-brain",
            "name": "Flowise",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                900,
                300
            ]
        },
        {
            "parameters": {
                "operation": "audioSpeech",
                "text": "={{ $json.text }}",
                "options": {}
            },
            "id": "openai-tts",
            "name": "OpenAI TTS",
            "type": "n8n-nodes-base.openai",
            "typeVersion": 1,
            "position": [
                1120,
                300
            ],
            "credentials": {
                "openaiApi": {
                    "id": "YOUR_OPENAI_CREDENTIAL_ID",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "binary",
                "responseDataSource": "item",
                "encoding": "arrayBuffer"
            },
            "id": "respond-audio",
            "name": "Respond to Gateway",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1340,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Whisper (STT)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Whisper (STT)": {
            "main": [
                [
                    {
                        "node": "Flowise",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Flowise": {
            "main": [
                [
                    {
                        "node": "OpenAI TTS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "OpenAI TTS": {
            "main": [
                [
                    {
                        "node": "Respond to Gateway",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}